<select name="extra_source[]" class="bg-bg-raised text-fg border border-border rounded px-3 py-2 text-sm font-mono outline-none focus:border-fg-dim transition-colors appearance-none pr-8 min-w-[180px]" style="background-image:url(&quot;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='%236a6a7a' viewBox='0 0 16 16'%3E%3Cpath d='M8 11L3 6h10z'/%3E%3C/svg%3E&quot;);background-repeat:no-repeat;background-position:right 0.65rem center">
    <option value="">-- select source --</option>
    <optgroup label="Language registries">
        <option value="pypi">PyPI</option>
        <option value="npm">npm</option>
        <option value="crates_io">crates.io</option>
        <option value="rubygems">RubyGems</option>
        <option value="go">Go (proxy)</option>
        <option value="maven">Maven Central</option>
        <option value="nuget">NuGet</option>
        <option value="packagist">Packagist</option>
    </optgroup>
    <optgroup label="Windows">
        <option value="chocolatey">Chocolatey</option>
        <option value="scoop">Scoop</option>
    </optgroup>
    <optgroup label="Arch-based">
        <option value="arch">Arch (official)</option>
        <option value="aur">AUR</option>
        <option value="manjaro">Manjaro</option>
        <option value="parabola">Parabola</option>
    </optgroup>
    <optgroup label="Debian/Ubuntu-based">
        <option value="debian">Debian</option>
        <option value="ubuntu">Ubuntu</option>
    </optgroup>
    <optgroup label="RPM-based">
        <option value="fedora">Fedora</option>
        <option value="opensuse">openSUSE</option>
        <option value="epel">EPEL</option>
        <option value="terra">Terra</option>
        <option value="altlinux">ALT Linux</option>
    </optgroup>
    <optgroup label="Other Linux">
        <option value="alpine">Alpine</option>
        <option value="nix">Nix</option>
        <option value="guix">GNU Guix</option>
        <option value="void">Void Linux</option>
        <option value="solus">Solus</option>
        <option value="gentoo">Gentoo</option>
        <option value="chimera">Chimera Linux</option>
        <option value="aosc">AOSC</option>
        <option value="carbs">Carbs Linux</option>
        <option value="pacstall">Pacstall</option>
        <option value="termux">Termux</option>
        <option value="wakemeops">WakeMeOps</option>
    </optgroup>
    <optgroup label="BSD / Other Unix">
        <option value="freebsd">FreeBSD</option>
        <option value="openbsd">OpenBSD</option>
        <option value="openindiana">OpenIndiana</option>
    </optgroup>
    <optgroup label="macOS">
        <option value="homebrew">Homebrew</option>
        <option value="homebrew_tap">Homebrew (custom tap)</option>
        <option value="macports">MacPorts</option>
    </optgroup>
</select>
